In [47]:
import pandas as pd

In [48]:
data = pd.read_csv("data/SalaryData.csv")
pd.set_option('display.float_format', '{:.0f}'.format)

# Cleaning

In [49]:
cols_to_drop = ['Employee_Name', 'jobTitle', 'Regular_Rate', 'Overtime_Rate', 'Other', 'ObjectId']
data = data.drop(columns=cols_to_drop)
data['Salary_Total'] = data['Annual_Rate'] + data['Incentive_Allowance']
final_drop = ['Annual_Rate', 'Incentive_Allowance']
data = data.drop(columns=final_drop)
data = data.fillna(0)
data['Department'] = data['Department'].replace('Louisville Metro Police', 'Louisville Metro Police Department')

In [50]:
data.head()

   CalYear                          Department  YTD_Total  Salary_Total
0     2023                         OMB Finance       1600          5200
1     2023      Louisville Free Public Library      30658         30960
2     2023  Louisville Metro Police Department      41458         41458
3     2023  Louisville Metro Police Department      19824         16912
4     2023  Louisville Metro Police Department      58514         61797

In [51]:
# final_salary = data.groupby('Department')[['YTD_Total', 'Salary_Total']].sum().reset_index()
final_salary = data.groupby(['CalYear', 'Department'])[['YTD_Total', 'Salary_Total']].sum().reset_index()

In [52]:
final_salary

     CalYear                          Department  YTD_Total  Salary_Total
0       2019               Air Pollution Control    3161000       3357059
1       2019                 Belle of Louisville    1288272       2255142
2       2019               Commonwealth Attorney    1076553       1254064
3       2019                             Coroner     883495       1006419
4       2019                     County Attorney    5253505       6583707
..       ...                                 ...        ...           ...
246     2024               Public Works & Assets   21015857      29210295
247     2024                  Records Compliance     838729       1127444
248     2024                  Revenue Commission    2426705       3560553
249     2024  Waterfront Development Corporation     966476       1310471
250     2024         Youth Transitional Services    1329120       1661510

[251 rows x 4 columns]

In [53]:
final_salary = final_salary.sort_values(by='YTD_Total', ascending=False)
final_salary

     CalYear                          Department  YTD_Total  Salary_Total
131     2022  Louisville Metro Police Department  122408545     105190225
176     2023  Louisville Metro Police Department  122305346     118182910
225     2024  Louisville Metro Police Department  112300615     121875658
56      2020  Louisville Metro Police Department  106152701     104060630
93      2021  Louisville Metro Police Department  103384083     102093717
..       ...                                 ...        ...           ...
189     2023   Office of Performance Improvement      37090         82001
100     2021         Office of Inspector General      13985        170802
211     2024                  Develop Louisville          0        115814
219     2024         Insurance & Risk Management          0        151840
154     2023                                   0          0             0

[251 rows x 4 columns]